<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>El Universal</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<header>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<span class="cart visible-xs visible-sm">
			<img src="img/icon-cart-white.png" alt="">
			<span class="badge">
				2
			</span>
		</span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="logo">
						<img src="img/logo-slogan.png" alt="">
						<img class="hide" src="img/logo-sticky.png" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-2 col-sm-12">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group user small">
									<span class="input-group-addon">
										<span class="btn btn-yellow">
											<img src="img/icon-user-black.png" alt="">
										</span>
									</span>
									<div class="btn-group">
										<button type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Fabricio Petit <img class="arrow" src="img/icon-arrow-down-black.png" alt="">
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">Mi cuenta</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="#">Salir</a></li>
										</ul>
									</div>
									<span class="input-group-addon hidden-xs hidden-sm">
										<span class="cart">
											<img src="img/icon-cart-white.png" alt="">
											<span class="badge">
												2
											</span>
										</span>
									</span>
								</div>
							</div>
							<div class="col-xs-12 visible-xs visible-sm">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Palabra clave">
									<span class="input-group-addon">
										<a href="#" class="btn btn-yellow">
											<img src="img/icon-search-black.png" alt="">
										</a>
									</span>
								</div><br>
							</div>
							<div class="col-md-3">
								<div class="btn-group small btn-block">
									<button type="button" class="btn btn-yellow btn-block btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Beneficios <img class="arrow" src="img/icon-arrow-down-yellow.png" alt="">
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">Aliados</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="#">Socios</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<a href="#" class="btn btn-yellow btn-block btn-outline">
									Suscribete
									<img src="img/icon-subscribe.png" alt="">
								</a>
							</div>
						</div>
						<div class="row hidden-xs hidden-sm">
							<div class="col-xs-12">
								<div class="input-group">
									<div class="btn-group categories input-group-addon">
										<dl id="sample" class="dropdown">
											<dt>
												<a href="#">
													<span>
														<img src="img/icon-categories-black.png" alt=""> Categorías <img class="arrow" src="img/icon-arrow-down-black.png" alt="">
													</span>
												</a>
											</dt>
											<dd>
												<ul>
													<li>
														<a href="#">
															<img src="img/icon-gastronomy.png" alt=""> Gastronomía <img class="arrow" src="img/icon-arrow-down-black.png" alt="">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icon-turism.png" alt=""> Turísmo <img class="arrow" src="img/icon-arrow-down-black.png" alt="">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icon-fashion.png" alt=""> Moda <img class="arrow" src="img/icon-arrow-down-black.png" alt="">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icon-wellbeing.png" alt=""> Bienestar <img class="arrow" src="img/icon-arrow-down-black.png" alt="">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icon-entertaiment.png" alt=""> Entretenimiento <img class="arrow" src="img/icon-arrow-down-black.png" alt="">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icon-paint.png" alt=""> Hogar <img class="arrow" src="img/icon-arrow-down-black.png" alt="">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icon-other.png" alt=""> Otros <img class="arrow" src="img/icon-arrow-down-black.png" alt="">
														</a>
													</li>
												</ul>
											</dd>
										</dl>
									</div>
									<input type="text" class="form-control" placeholder="Palabra clave">
									<span class="input-group-addon">
										<a href="#" class="btn btn-yellow">
											<img src="img/icon-search-black.png" alt="">
										</a>
									</span>
								</div>
							</div>
						</div>
						<div class="row visible-xs visible-sm">
							<div class="col-xs-12">
								<ul class="mobile-menu">
									<li>
										<a href="#">
											<img src="img/icon-gastronomy-white.png" alt=""> Gastronomía 
										</a>
									</li>
									<li>
										<a href="#">
											<img src="img/icon-turism-white.png" alt=""> Turísmo 
										</a>
									</li>
									<li>
										<a href="#">
											<img src="img/icon-fashion-white.png" alt=""> Moda
										</a>
									</li>
									<li>
										<a href="#">
											<img src="img/icon-wellbeing-white.png" alt=""> Bienestar
										</a>
									</li>
									<li class="active">
										<a href="#">
											<img src="img/icon-entertaiment-white-active.png" alt=""> Entretenimiento 
										</a>
									</li>
									<li>
										<a href="#">
											<img src="img/icon-paint-white.png" alt=""> Hogar
										</a>
									</li>
									<li>
										<a href="#">
											<img src="img/icon-other-white.png" alt=""> Otros
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<ul class="sticky-menu hide">
					<li>
						<a href="#">
							<img class="active" src="img/icon-home-active.png" alt="">
							<img src="img/icon-home-white.png" alt="">
						</a>
					</li>
					<li class="active">
						<a href="#">
							<img class="active" src="img/icon-gastronomy-active.png" alt="">
							<img src="img/icon-gastronomy-white.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img class="active" src="img/icon-turism-active.png" alt="">
							<img src="img/icon-turism-white.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img class="active" src="img/icon-fashion-active.png" alt="">
							<img src="img/icon-fashion-white.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img class="active" src="img/icon-wellbeing-active.png" alt="">
							<img src="img/icon-wellbeing-white.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img class="active" src="img/icon-entertaiment-active.png" alt="">
							<img src="img/icon-entertaiment-white.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img class="active" src="img/icon-paint-active.png" alt="">
							<img src="img/icon-paint-white.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img class="active" src="img/icon-other-active.png" alt="">
							<img src="img/icon-other-white.png" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<ul class="menu">
		<div class="container">
			
			<li>
				<a href="#">
					<img class="active" src="img/icon-home-active.png" alt="">
					<img src="img/icon-home.png" alt="">
					<span>
						inicio
					</span>
				</a>
			</li>
			<li class="active">
				<a href="#">
					<img class="active" src="img/icon-gastronomy-active.png" alt="">
					<img src="img/icon-gastronomy.png" alt="">
					<span>
						gastronomía
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img class="active" src="img/icon-turism-active.png" alt="">
					<img src="img/icon-turism.png" alt="">
					<span>
						turismo
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img class="active" src="img/icon-fashion-active.png" alt="">
					<img src="img/icon-fashion.png" alt="">
					<span>
						moda
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img class="active" src="img/icon-wellbeing-active.png" alt="">
					<img src="img/icon-wellbeing.png" alt="">
					<span>
						bienestar
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img class="active" src="img/icon-entertaiment-active.png" alt="">
					<img src="img/icon-entertaiment.png" alt="">
					<span>
						entretenimiento
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img class="active" src="img/icon-paint-active.png" alt="">
					<img src="img/icon-paint.png" alt="">
					<span>
						hogar
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img class="active" src="img/icon-other-active.png" alt="">
					<img src="img/icon-other.png" alt="">
					<span>
						otros
					</span>
				</a>
			</li>
			<span class="stretch"></span>
		</div>
	</ul>
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Gastronomía</a></li>
			<li class="active">Oferta</li>
		</ol>
		<div id="home-carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#home-carousel" data-slide-to="1"></li>
				<li data-target="#home-carousel" data-slide-to="2"></li>
				<li data-target="#home-carousel" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img class="background" src="img/carousel-background-1.png" alt="">
					<div class="carousel-caption">
						<h1>
							Taller de cocina con Ennio Carota
						</h1>
						<p>
							Ennio Carota te enseñará recetas fáciles y divertidas en un maravilloso taller para padres e hijos que no puedes perderte, ¡Inscríbete ya!
						</p>
						<a href="#" class="btn btn-white btn-outline">
							Ver oferta
						</a>
					</div>
				</div>
				<div class="item">
					<img class="background" src="img/carousel-background-1.png" alt="">
					<div class="carousel-caption">
						<h1>
							Taller de cocina con Ennio Carota
						</h1>
						<p>
							Ennio Carota te enseñará recetas fáciles y divertidas en un maravilloso taller para padres e hijos que no puedes perderte, ¡Inscríbete ya!
						</p>
						<a href="#" class="btn btn-white btn-outline">
							Ver oferta
						</a>
					</div>
				</div>
				<div class="item">
					<img class="background" src="img/carousel-background-1.png" alt="">
					<div class="carousel-caption">
						<h1>
							Taller de cocina con Ennio Carota
						</h1>
						<p>
							Ennio Carota te enseñará recetas fáciles y divertidas en un maravilloso taller para padres e hijos que no puedes perderte, ¡Inscríbete ya!
						</p>
						<a href="#" class="btn btn-white btn-outline">
							Ver oferta
						</a>
					</div>
				</div>
				<div class="item">
					<img class="background" src="img/carousel-background-1.png" alt="">
					<div class="carousel-caption">
						<h1>
							Taller de cocina con Ennio Carota
						</h1>
						<p>
							Ennio Carota te enseñará recetas fáciles y divertidas en un maravilloso taller para padres e hijos que no puedes perderte, ¡Inscríbete ya!
						</p>
						<a href="#" class="btn btn-white btn-outline">
							Ver oferta
						</a>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
				<span class="arrow"></span>
			</a>
			<a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
				<span class="arrow"></span>
			</a>
		</div>
		<section class="promotions">
			<div class="title">
				<span>
					Promociones
				</span>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item loading">
									<div class="image-box">
										<img class="category" src="img/icon-cat-gastronomy.png" alt="">
										<img class="image" src="img/item-gastronomy-1.png" alt="">
									</div>
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item favorite">
									<!--img class="category" src="img/icon-cat-turism.png" alt=""-->
									<div class="spriteCategory catGastronomia"></div>
									<img class="image" src="img/item-gastronomy-2.png" alt="" >
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-entertaiment.png" alt="">
									<img class="image" src="img/item-gastronomy-3.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-paint.png" alt="">
									<img class="image" src="img/item-gastronomy-4.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-gastronomy.png" alt="">
									<img class="image" src="img/item-gastronomy-5.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-paint.png" alt="">
									<img class="image" src="img/item-gastronomy-6.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-fashion.png" alt="">
									<img class="image" src="img/item-gastronomy-7.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-wellbeing.png" alt="">
									<img class="image" src="img/item-gastronomy-1.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-other.png" alt="">
									<img class="image" src="img/item-gastronomy-2.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-wellbeing.png" alt="">
									<img class="image" src="img/item-gastronomy-3.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-gastronomy.png" alt="">
									<img class="image" src="img/item-gastronomy-4.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-wellbeing.png" alt="">
									<img class="image" src="img/item-gastronomy-5.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-other.png" alt="">
									<img class="image" src="img/item-gastronomy-6.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-other.png" alt="">
									<img class="image" src="img/item-gastronomy-7.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-other.png" alt="">
									<img class="image" src="img/item-gastronomy-1.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="detail.html">
								<div class="food-item">
									<img class="category" src="img/icon-cat-other.png" alt="">
									<img class="image" src="img/item-gastronomy-2.png" alt="">
									<div class="content">
										<div class="description">
											Promoción 2x1 en todas las pastas de la casa más un acompañante por persona
										</div>
										<div class="local-name">
											ávila burger
										</div>
										<div class="price-before">
											Antes bs. 54.600
										</div>
										<div class="location">
											<span><img src="img/icon-location.png" alt=""></span>
											El Hatillo, Caracas
										</div>
										<div class="price">
											Bs. 46.900
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="banner">
			<span>
				Espacio publicitario
			</span>
			<img src="img/banner-publicity.png" alt="">
		</section>
		<section id="banners" class="hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-6">
					<img src="img/banner-products.png" alt="">
				</div>
				<div class="col-sm-3">
					<div class="banner-creditcard">
						<img src="img/background-card.png" class="background" alt="">
						<div class="content">
							<div class="logo">
								<img src="img/logo-black.png" alt="">
							</div>
							Te brinda la oportunidad de disfrutar diferentes productos y servicios
							<span>
								no esperes más, y empieza a vivir
							</span>
							<span class="black">
								esta nueva experiencia comercial
							</span>
						</div>
						<div class="creditcard">
							<img src="img/creditcard-empty.png" alt="">
							<span class="number">
								0506 3749 9877 6643
							</span>
							<span class="name">
								María A. Rodriguez
							</span>
							<span class="date">
								EXP 08/15
							</span>
							<span class="qr">
								<img src="img/icon-qr.png" alt="">
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<img src="img/banner-twitter.png" alt="">
				</div>
			</div>
		</section>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-8 hidden-xs hidden-sm">
					<div class="logos">
						<img src="img/logo-universal.png" alt="">
						<img src="img/logo-estampas.png" alt="">
						<img src="img/logo-clasificados-universal.png" alt="">
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-xs-6">
							<ul class="submenu">
								<li>
									<a href="#">
										Aliados
									</a>
								</li>
								<li>
									<a href="#">
										Contáctos
									</a>
								</li>
								<li>
									<a href="#">
										Cómo funciona
									</a>
								</li>
								<li>
									<a href="#">
										Quiénes somos
									</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-6">
							<ul class="submenu">
								<li>
									<a href="#">
										Política de privacidad
									</a>
								</li>
								<li>
									<a href="#">
										Preguntas frecuentes
									</a>
								</li>
								<li>
									<a href="#">
										Suscripciones
									</a>
								</li>
								<li>
									<a href="#">
										Términos de uso
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row visible-xs visible-sm">
						<div class="col-xs-6 text-right">
							<h4>
								<a href="#">
									<img src="img/icon-facebook-white.png" alt="">
								</a>
							</h4>
						</div>
						<div class="col-xs-6">
							<h4>
								<a href="#">
									<img src="img/icon-twitter-white.png" alt="">
								</a>
							</h4>
						</div>
					</div>
					<div class="row visible-xs visible-sm">
						<div class="col-xs-12 text-center">
							<p>
								<img src="img/logo-universal.png" alt="">
							</p>
							<p>
								<img src="img/logo-estampas.png" alt="">
							</p>
							<p>
								<img src="img/logo-clasificados-universal.png" alt="">
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div  ng-app='myApp' ng-controller="testController">
			<!--DESDE AQUI-->
			<input type="submit" value="Todos los posts" ng-click="getAllPosts()"/>
	<input type="submit" value="Un post" ng-click="getPost()"/>
	<input type="text" ng-model="post_id" placeholder="inserte el id del post"/>
	<div ng-if="posts.exist==1">
		<h1>Lista de Posts</h1>
		<div ng-repeat="p in posts">
			<pre>
				<h5> Post # {{p.id}}</h5>
				<h2>{{p.title}}</h2>
				<p>{{p.body}}</p>
			</pre>
			<hr/>
		</div>
	</div>
	<div ng-if="unPost.exist==1">
		<h1>Un solo post</h1>
		<pre>
			<h5> Post # {{unPost.id}}</h5>
			<h2>{{unPost.title}}</h2>
			<p>{{unPost.body}}</p>
		</pre>
		<hr/>
	</div>

		<!--HASTA AQUI-->
		</div>
		<section class="social">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						El universal - Todos los derechos reservados 2016
					</div>
					<div class="col-md-6 text-right hidden-xs hidden-sm">
						<a href="#">
							<img src="img/icon-facebook-white.png" alt="">
						</a>
						<a href="#">
							<img src="img/icon-twitter-white.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</section>
	</footer>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<!--Controllers-->
	<script type="text/javascript" src="controllers/testController.js"></script>
	<!--Services-->
	<script type="text/javascript" src="services/testService.js"></script>
</body>
</html>