<div class="container" ng-controller="categoryOffersController">
			
			<li  ng-class="{'active': isActive1}">
				<a href="#/" ng-click="select('1')" >
					<img class="active" src="img/icon-home-active.png" alt="">
					<img src="img/icon-home.png" alt="">
					<span>
						inicio
					</span>
				</a>
			</li>
			<li   ng-class="{'active':isActive2}" >
				<a href="#/promotions/Gastronomía" ng-click="select('2')">
					<img class="active" src="img/icon-gastronomy-active.png" alt="">
					<img src="img/icon-gastronomy.png" alt="">
					<span>
						gastronomía
					</span>
				</a>
			</li>
			<li  ng-class="{'active':isActive3}">
				<a href="#/promotions/Turismo" ng-click="select('3')" >
					<img class="active" src="img/icon-turism-active.png" alt="">
					<img src="img/icon-turism.png" alt="">
					<span>
						turismo
					</span>
				</a>
			</li>
			<li  ng-class="{'active':isActive4}">
				<a href="#/promotions/Moda" ng-click="select('4')" >
					<img class="active" src="img/icon-fashion-active.png" alt="">
					<img src="img/icon-fashion.png" alt="">
					<span>
						moda
					</span>
				</a>
			</li>
			<li  ng-class="{'active':isActive5}">
				<a href="#/promotions/Bienestar" ng-click="select('5')" >
					<img class="active" src="img/icon-wellbeing-active.png" alt="">
					<img src="img/icon-wellbeing.png" alt="">
					<span>
						bienestar
					</span>
				</a>
			</li>
			<li  ng-class="{'active':isActive6}">
				<a href="#/promotions/Entretenimiento" ng-click="select('6')" >
					<img class="active" src="img/icon-entertaiment-active.png" alt="">
					<img src="img/icon-entertaiment.png" alt="">
					<span>
						entretenimiento
					</span>
				</a>
			</li>
			<li  ng-class="{'active':isActive7}">
				<a href="#/promotions/Hogar" ng-click="select('7')" >
					<img class="active" src="img/icon-paint-active.png" alt="">
					<img src="img/icon-paint.png" alt="">
					<span>
						hogar
					</span>
				</a>
			</li>
			<li  ng-class="{'active':isActive8}">
				<a href="#/promotions/Otro" ng-click="select('8')" >
					<img class="active" src="img/icon-other-active.png" alt="">
					<img src="img/icon-other.png" alt="">
					<span>
						otros
					</span>
				</a>
			</li>
			<span class="stretch"></span>
</div>